.icon {
    color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
}

.name {
    font-family:
            Greycliff CF,
            var(--mantine-font-family);
}

.userAccountFormContainer {
  display: flex;
  flex-direction: row; /* Horizontal layout by default */
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fullWidth {
    display: flex;
    flex-direction: column;
    width: 100%;
}


@media (max-width: 768px) {
  .userAccountFormContainer {
    flex-direction: column; /* Switch to vertical layout on mobile */
  }
}
